.App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    /* width: fit-content(100%); */
    font-family: "PressStart2P";
    overflow: hidden;
    height: 98dvh;
    width: 98dvw;
    max-height: 100dvh;
    max-width: 100dvw;
}

@font-face {
    font-family: "PressStart2P";
    src: url("./assets/PressStart2P-Regular.ttf");
}

.titleBar  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.pokemon-selection,
.battle {
    margin-top: 20px;
}

.pokemon-list button {
    margin: 0.6rem;
    padding: 0.6rem;
    font-size: 1rem;
}

.game {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    /* height: 100%; */
}

.battle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    background-image: url("./assets/OIP.jpg");
    background-size: cover;
    padding: 1rem;    
    border-radius: 10px;
    color: white;
    width: 100%;
    height: 98%;
    max-width: 100%;
    max-height: 100%;
    gap: 1rem;
}
.display-pokemon {
    display: flex;
    flex-direction: row;
    gap:2rem;
}

.pokemon-status {
    /* border: 2px solid white; */
    padding: 1rem;

}

.attack-options {
    display: flex;
    gap: 5rem;
    /* border: 2px solid white; */
    
}

.attack-logs {

    height:20dvh;
    max-height: 20dvh;
    max-width: fit-content;
    overflow-y: scroll;
    overflow-x: hidden;
}

.battle-log-p {
    text-align: start;
    border-bottom: 1px solid gray;
    padding: 0.2rem;
    font-size: 0.8rem;
}